/* Dropdown Button */
.dropbtn {
  color: #2980B9;
  font-size: 2.2rem;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background: transparent;
  z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

li {
  list-style: none;

  &:not(:last-child) {
    padding-bottom: .4rem;
  }
}

