@import '../../../../sass/index';

.categories {
    min-height: calc(100vh - (8rem + 3.4rem));
}

.formControl button {
    border: none;
    color: #fff;
    margin: 0.7rem;
    padding: 0.7rem;
    font-size: 1.9rem;border-radius: 0.45rem;
    align-items: center;
    background-color: #3f80ea;
}

.addError {
    color: rgba(245, 28, 28, 0.794);
}
