.newOrder {
    margin-top: 10vh;
    font-size: 1.5rem;
    height: 100%;
}

.pageTitle {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    padding-left: 10px;
    color: #495057;
    margin-bottom: 1.5rem;
}

.errorMsg {
    margin: 1rem 2rem;
    max-width: 44rem;
    align-items: center;
    font-size: 1.5rem;
    color: red;
    padding: 4px;
    border: 1px solid red;
    border-radius: 4px;
}
