// COLORS
$color-white: #fff;
$color-grey: #777;
$color-black: #000;
$color-green: #15af4b;
$color-primary: #3f80ea;
$color-gray-light-1: #eee;

$color-white__table: #cecece;

// GRID
$gutter-vertical: 4rem;
$gutter-horizontal: 0.5rem;
