// COLORS
$color-primary: #3f80ea;
$color-secondary: #7f838e;

$color-red: #ff0000;
$color-white: #fff;
$color-grey: #777;
$color-black: #000;
$color-green: #15af4b;

$color-grey-light-1: #eee;
$color-grey-light-2: #919191;
$color-grey-light-3: #fffffffa;

$color-pending: #ff632aed;
$color-processing: #5dc508;
$color-inprogress: #2172f3;
$color-completed: #268b4a;
$color-cancelled: #cc1f1f;
$color-partial: #f34242;

$color-active: #198754;
$color-inactive: #f3731e;


// Button Colors - Old
$color-btn-edit: #5e8ad1;
$color-btn-delete: #e22525;

// Order Button Colors
$color-orderPending: #ff632aed;
$color-orderProcessing: #5dc508;
$color-orderInprogress: #2172f3;
$color-orderCompleted: #268b4a;
$color-orderCancelled: #dd2a2a;
$color-orderPartial: #f34242;
$color-orderRefunded: #60b611;

// Extra Button Colors
$color-deleteButton: #cc0000;
$color-editButton: #4483eb;
$color-primaryButton: #518cec;
$color-successButton: #139d43;
$color-failedButton: #e53c3c;
$color-activeButton: #139d43;
$color-disableButton: #6a6a6a;

// Text Colors
$color-lightText: #eee;
$color-darkText: #777;
$color-veryDarkText: #555;
$color-lightDarkText: #919191;

// Table Colors
$color-white__table: #cecece;

// Dark Color 
$dark-color-background: #121212;
$dark-color-text--primary: #ffffffcc;
$dark-color-text--secondary: #ffffffaa;
$dark-color-primary: #134fafd9;

$dark-color-white-1: #fafafa;
$dark-color-white-2: #f5f5f5;
$dark-color-white-3: #eeeeee;


// GRID
$gutter-vertical: 4rem;
$gutter-horizontal: 0.5rem;

// Break points
$bp-15: 93.75rem;
$bp-14: 87.5rem;
$bp-13: 81.25rem;
$bp-12: 75rem;
$bp-11: 68.75rem;
$bp-10: 62.5rem;
$bp-9: 56.25rem;
$bp-8: 50rem;
$bp-7: 43.75rem;
$bp-6: 37.5rem;
$bp-5: 31.25rem;
$bp-4: 25rem;
$bp-3: 18.75rem;
$bp-2: 12.5rem;
$bp-1: 6.25rem;
