@import '../../../sass/index';

.message {
    &__container {
        border: 1px solid $border-color;
        border-radius: 1rem;
        background-color: $color-white;
        box-shadow: 0 .4rem .6rem rgba($color-grey-light-2, 0.1);
    }

    &__header {
        padding: 1rem 2rem;
        font-size: 2.4rem;
        border-bottom: 1px solid $border-color;
        word-wrap: break-word;

        text-transform: capitalize;
    }

    &__body {
        padding: 2rem;
        height: calc(((((100vh - 5rem) - 2.5rem) - 7rem) - 28rem));

        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__footer {
        border-top: 1px solid $border-color;
        padding: 1rem;

        & input {
            height: 4rem;
        }

        & button {
            height: 4rem;
            width: 8rem;
            border: none;
            border-radius: .5rem;
            background-color: $color-primary;
            color: $color-white;
            text-transform: capitalize;
            font-size: 1.7rem;
        }
    }
}

.admin__message,
.user__message {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    .sent_time {
        color:  $color-grey-light-2;
        font-size: 1.4rem;
        opacity: 60%;
        padding-top: .2rem;
    }
}

.user__message {
    align-items: flex-end;
}

.admin__message {
    align-items: flex-start;
}

.message__card {
    display: flex;
    align-items: center;

    & .message_user, 
    .message_admin {
        padding: 1rem 2rem;
        text-transform: capitalize;
        border: 1px  solid $color-grey-light-2;
    }

    & .message_user {
        border-radius: 3rem 0 3rem 3rem;
    }

    & .message_admin {
        border-radius: 0 3rem 3rem 3rem;
    }

    & img {
        height: 6rem;
    }
}

.dark {
    &.message__container {
        border: none;
        background-color:  $dark-background-forth-color;
        box-shadow: none;
        overflow: hidden;
    }

    & .message {
        &__header {
            color: $dark-tertiary-text-color;
            border-bottom: 1px solid $dark-border-color;
            background-color: $dark-background-tertiary-color;
        }

        &__body {
            .message_user,
            .message_admin {
                color: $dark-primary-text-color;
            }

            .sent_time {
                color: $dark-tertiary-text-color;
                opacity: .8;
            }
        }

        &__footer {
            border-top: 1px solid $dark-border-color;
            background-color: $dark-background-tertiary-color;
        }
    }
}