@import '../../../sass/index';


.table {
    padding: 1rem 1rem;
    border: $border-color;
    border-radius: 1rem;
    box-shadow: $basic-shadow-color;
    background-color: $background-primary-color;
    width: 100%;

    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    & table {
        display: flex;
        flex-direction: column;

        & tr {
            display: flex;
            flex-direction: row;
            flex: 1;

            & th {
                flex: 1;
                text-align: start;
                padding: .5rem 1rem 1rem 1rem ;
                text-transform: capitalize;
            }

            & td {
                flex: 1;
                padding: .5rem 1rem;
            }

            & th,
            & td {
                &.id {
                    min-width: 5rem;
                    max-width: fit-content;
                }

                &.name {
                    min-width: 12rem;
                    max-width: fit-content;
                }

                &.quantity {
                    min-width: 10rem;
                    max-width: fit-content;
                }

                &.price {
                    min-width: 10rem;
                    max-width: fit-content;
                }

                &.status {
                    max-width: 10rem;
                    text-align: center
                }
            }
        }


        & tbody {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            tr {
                &:nth-child(odd) {
                    background-color: $hover-color;
                    border-radius: .5rem;
                }

                & td {
                    margin: auto;
                }

                &:hover {
                    background-color: $hover-color-dark;
                    border-radius: .5rem
                }
            }
        }
    };
}

.dark.table {
    background-color: $dark-background-tertiary-color;

    & tr {
        th {
            color: $dark-secondary-text-color;
        }

        td {
            color: $dark-tertiary-text-color;
        }
    }

    & tbody tr {

        &:nth-child(odd) {
            background-color: $dark-hover-color;
        }

        &:hover {
            background-color: $dark-hover-color-light;
            border-radius: .5rem
        }
    }
}
