@import '../../../sass/index';

table {
    border-collapse: collapse;
    border-radius: .5rem;
    margin: .5rem 0;
    box-shadow: 0 0 .18rem rgba($color-black, .25);
    width: 100%;

    & thead {
        display: table-header-group;
        border-radius: 0.5rem;
        vertical-align: middle;

        & tr {
            & th {
                padding: .5rem;
                color: darken($color-grey, 5);
            }

            & th {
                &:first-child {
                    border-top-left-radius: 0.5rem;
                }

                &:last-child {
                    border-top-left-radius: 0.5rem;
                }
            }
        }
    }

    & tbody {
        display: table-row-group;
        color: $color-grey;

        & tr {
            vertical-align: middle;

            & td {
                padding: .5rem;
                white-space: nowrap;

                &:last-child{
                    text-align: center;
                }
            }

            &:last-child {
                & td {
                    border-bottom: none;
                    &:first-child {
                        border-bottom-left-radius: 5px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 5px;
                    }
                }
            }

            &:nth-child(odd) {
                background: $color-grey-light-1;
            }

            &:hover {
                background-color: darken($color-grey-light-1, 10);
            }
        }
    }
}
