@import '../../../sass/index';

// ************** Default Theme ************** //

// Topbar styling //
.topbar {
    // Base styles
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2rem;
    color:  $color-secondary;
    height: $topbar__height;
    background-color: $color-white;
    box-shadow: 0 .1rem .4rem rgba($color-secondary, .25%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    z-index: 100;
    transition: all .3s ease;

    @media only screen and (max-width: $bp-5) {
        height: $topbar__height__bp-5;
    }


    // Base style for both left and right side of topbar
    &__left,
    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    
    // Styles for the left side of topbar
    &__left {
        // Hamburger design for sidebar
        & .hamburger {
            width: 1.4rem;
            height: 1.4rem;

            display: flex;
            flex-direction: column;
            gap: .4rem;

            // Hamburger line styles
            &__line {
                border-top: 2px solid $color-secondary;
            }
        }
    }

    // Styles for the right of topbar
    &__right {
        // Theme changer design (Dark/Light) theme changer
        .theme {
            // Hiding actual checkbox behind icons
            &__checkbox {
                opacity: 0;
                position: absolute;

                // Changing position of ball depending on whetter its checked or not
                &:checked + .theme__checkbox--label .ball {
                    transform: translateX(2.4rem);
                    
                    @media only screen and (max-width: $bp-5) {
                        transform: translateX(2rem);
                    }
                }
            }

            // Theme switcher icons styles
            &__checkbox--label {
                position: relative;
                width: 5rem;
                height: 2.6rem;
                padding: .5rem;
                border-radius: 5rem;
                background-color: #155ED1;

                display: flex;
                align-items: center;
                justify-content: space-between;

                @media only screen and (max-width: $bp-5) {
                    width: 4.5rem;
                    height: 2.4rem;
                    padding: .5rem;
                }
            }
        }
    }
}

// Theme changer Ball //
.ball {
    position: absolute;
    top: .2rem;
    left: .2rem;
    border-radius: 50%;
    height: 2.2rem;
    width: 2.2rem;
    background-color: $color-white;

    transition: all .3s ease;

    @media only screen and (max-width: $bp-5) {
        height: 2rem;
        width: 2rem;
    }
}

// Moon icon styles
.moon {
    color: #F5F6FA;
    font-size: 1.6rem;
}

// Sun icon styles
.sun {
    color: #f1c409;
    font-size: 1.6rem;
}

// Profile Details styles //
.user{
    // Base styles
    display: flex;
    flex-direction: row;
    align-items: center;

    // Profile picture styles
    &__pic {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin-right: .6rem;
    }

    // User name styles
    &__name {
        font-size: 1.7rem;
        font-weight: 500;
        margin-right: .4rem;
        color: $color-darkText;

        @media only screen and (max-width: $bp-5) {
            display: none;
        }
    }
}

// ************** Dark theme styles ************** // 
.dark {
    background: $dark-background-secondary-color;
    box-shadow: none;

    & .logo {
        color: $dark-color-primary;
    }

    & .hamburger__line {
        border-top: 2px solid $dark-color-white-secondary;
    } 

    .theme__checkbox--label {
        background-color: $dark-color-primary;
    }

    .ball {
        background-color: $dark-color-white;
    }

    .moon {
        color: $dark-color-white;
    }

    .sun {
        color: #dbb109;
    }

    .user__name {
        color: $dark-secondary-text-color;
    }
}