@import '../../index';

.addfund {
    min-height: 80vh;

    &__box {
        padding: 2rem 4rem 0 4rem;
    }

    &__links {
        & ul {
            margin: 0;
            padding: 0;

            & li {
                display: inline-block;
                margin: 0 3rem 2rem 0;
                // box-shadow: 0 0.3rem 0.8rem rgba($color-black, 0.3);

                & a,
                & a:link {
                    text-decoration: none;
                    padding: 1rem 1.5rem;
                    font-size: 1.8rem;
                    color: lighten($color-primary, 2);
                    border: 0.8px solid $color-grey;
                    border-radius: 0.5rem;
                    transition: all 0.2s;

                    &:hover {
                        font-size: 2rem;
                        color: darken($color-primary, 4);
                    }
                }

                & a.active {
                    color: $color-white;
                    border: 0.8px solid lighten($color-secondary, 15);
                    background-color: lighten($color-secondary, 15);
                }
            }
        }
    }

    &__gateway {
        position: relative;
        padding: 5rem 2rem;
        margin-bottom: 3rem;
    }
}
