@import '../../index';

.addfund {
    min-height: 80vh;

    &__container {
        padding: 4rem;

        &__links {
            & ul {
                margin: 0;
                padding: 0;

                & li {
                    display: inline-block;
                    padding: 0.5rem 1rem;
                    margin: 0 3rem 2rem 0;
                    border-radius: 0.5rem;
                    box-shadow: 0 0.3rem 0.8rem rgba($color-black, 0.3);

                    & a,
                    & a:link {
                        text-decoration: none;
                        color: lighten($color-primary, 2);
                        font-size: 1.8rem;
                        transition: all 0.2s;

                        &:hover {
                            font-size: 2rem;
                            color: darken($color-primary, 4);
                        }
                    }
                }
            }
        }
    }
}
