@import '../../index';

.Razorpay {
    width: 80%;

    &__input {
        display: block;
        padding: 0.5rem 0.6rem;
        max-width: 30rem;
        border-radius: 0.5rem;
        border: 0.8px solid lighten($color-grey, 8);

        &:active {
        }
    }

    &__checkbox {
        display: block;
        position: relative;

        & input {
            position: absolute;
            top: 4.7px;
            left: 0;
            height: 1.5rem;
            width: 1.5rem;
            display: inline-block;
        }

        & p {
            display: inline-block;
            margin-left: 2rem;
        }
    }

    & button {
        display: block;
    }
}
