@import '../../../sass/index';

.login {
    width: 100%;
    height: 100vh;
    margin-top: 8rem;
    position: fixed;
    background-color: $color-primary;

    z-index: -1; 

    & .form_container {
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -44%);

        background-color: $color-white;
        border: none;
        border-radius: .5rem;
        padding: 3rem 2rem 4rem 2rem;
    }

    .login_header {
        padding: 0;
        text-align: center;
        margin-bottom: 2rem;
    }

    & .login_form {
        display: flex;
        flex-direction: column;
    }

    .login_input {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        border: .01px solid $color-grey;
        border-radius: .4rem;
        outline: none ;

        &:focus {
            border: .01px solid $color-primary;
        }
    }

    .submit_button {
        border: none;
        padding: 1rem 0;
        font-size: 1.8rem;
        color: $color-white;
        border-radius: .4rem;
        background-color: $color-primary;
        transition: all .3s ease;

        &:hover {
            background-color: darken($color-primary, 10);
        }
    }

    .login_form_footer {
        margin-top: 1rem;

        a {
            font-size: 1.4rem;
            text-decoration: none;
            color: lighten($color-primary, 5);
        }
    }
}
