.Login {
    text-align: center;
    width: 400px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.6rem;
    transform: translate(-50%, 50%);
}

.Login .formControl {
    padding: 8px;
}

.Login .formControl label {
    display: block;
    text-align: left;
    padding: 4px;
}

.Login .loginButton {
    color: white;
    margin: 1rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: rgb(255, 102, 47);
    border: none;
    border-radius: 8px;
    outline: none;
    transition: all ease;
}

.Login .loginButton:hover,
.Login .loginButton:active,
.Login .loginButton.active {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.26);
}

.Login button {
    color: #fff;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    margin-top: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.errorMsg {
    color: red;
    margin-top: 2px;
    padding: 4px;
    border: 1px solid red;
    border-radius: 4px;
}
