/* .NavigationItem a {
    /* width: 100%; */
/* display: block; */
/* font-size: 1.5rem;
    font-weight: 500; */
/* white-space: nowrap;
    text-decoration: none;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5); 
} */
