@import '../../../sass/index';

.layout-container{
    overflow-x: hidden;
}

.sidebar.active ~ .main {
    margin-left: 26rem;
    transition: all .5s;

    @media only screen and (max-width: $bp-6) {
        margin-left: 22rem;
        width: 100%;
    }
}

.sidebar.active ~ footer {
    margin-left: 26rem;
    transition: all .5s;

    @media only screen and (max-width: $bp-6) {
        margin-left: 22rem;
        width: 100%;
    }
}


.sidebar ~ .main {
    margin-left: 7.8rem;
    transition: all .5s;

    @media only screen and (max-width: $bp-6) {
        margin-left: 7rem;
    }
}

.sidebar ~ footer {
    margin-left: 7.8rem;
    transition: all .5s;

    @media only screen and (max-width: $bp-6) {
        margin-left: 7rem;
    }
}

.main {
    flex-direction: column;
    flex: 1;
}