@import '../../../../sass/index';

.dashboard{
    min-height: calc(100vh - (8rem + 3.4rem));

    @media only screen and (max-width: $bp-14) {
        padding: 0 2rem;
    }

    @media only screen and (max-width: $bp-14) {
        padding: 0 1rem;
    }
}

.section__one {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;

    &__item {
        flex: 1;

        @media only screen and (max-width: $bp-11) {
            min-width: calc(50% - (2rem));
        }

        @media only screen and (max-width: $bp-5) {
            min-width: 100%;
        }

        &--title {
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
            text-transform: capitalize;
            color: darken($color-grey, 8);
        }

        &--value {
            display: block;
            font-size: 2.8rem;
            color: lighten($color-grey, 5);
        }
    }
}

.dark .section__one {
    &__item {
        &--title {
            color: $dark-color-text--primary;
        }

        &--value {
            color: $dark-color-text--secondary;
        }
    }
}

.section__two {
    margin-bottom: 2rem;

    display: flex;
    flex-wrap: wrap;


    &__graph {
        flex: 1;
        
        &_container {
            height: 31rem;
        }
     }


    &__summary{
        flex: 1;

        &--heading{            
            @extend %titleStyle;
        }

        &--item{
            display: flex;
            flex-direction: row;
            
            &--value{
                flex: 1;
                padding: 0.7rem 0.1rem;
                color: $dark-color-text--secondary;
                // color: lighten($color-grey, 2);
            }
        }
    }
}

.section__third {
    padding-bottom: 2rem;
}
