@import '../../abstracts/extends';
@import '../../abstracts/variables';

@import '../../base/base';
@import '../../base/typography';
@import '../../base/utilities';

@import '../../components/button';

.apiServices {
    min-height: 80vh;
    margin-top: 4rem;
    font-size: 1.5rem;
}

.dropdownButton button::after {
    content: none !important;
}

.label {
    font-size: 1.3rem;
}
