@import '../../../sass/index';

// ************************ Sidebar ************************ //
.sidebar {
    // Base styles
    position: fixed;
    top: 0;
    bottom: 0;
    width: $sidebar__width;
    padding: 5rem 0 4rem 0;
    margin-top: $topbar__height;
    background-color: $color-white;

    transition: all .3s ease;
    overflow-y: scroll;

    // Hide scrollbar in sidebar
    &::-webkit-scrollbar {
        display: none;
    }
    
    // Breakpoints
    @media only screen and (max-width: $bp-10) {
        width: $sidebar__width__bp-10;    
    }

    @media only screen and (max-width: $bp-6) {
        width: $sidebar__width__bp-6;    
    }

    @media only screen and (max-width: $bp-5) {
        margin-top: $topbar__height__bp-5;    
    }

    // Set margin for main content depending on side is active or not
    & + main {
        padding-left: $sidebar__width;
        // padding-left: calc($sidebar__width + 1rem);
        transition: all .3s ease;

        // Breakpoints
        @media only screen and (max-width: $bp-10) {
            padding-left: $sidebar__width__bp-10;
        }

        @media only screen and (max-width: $bp-6) {
            padding-left: $sidebar__width__bp-6;    
        }
    }

    // Style for expanded/Active sidebar
    &.expand {
        width: $sidebar__expand__width;

        // Breakpoints
        @media only screen and (max-width: $bp-10) {
            width: $sidebar__expand__width__bp-10;
        }

        @media only screen and (max-width: $bp-6) {
            width: $sidebar__expand__width__bp-6;    
        }

        & + main {
            padding-left: $sidebar__expand__width;

            @media only screen and (max-width: $bp-10) {
                padding-left: $sidebar__expand__width__bp-10;
            }

            @media only screen and (max-width: $bp-6) {
                padding-left: $sidebar__expand__width__bp-6;    
            }
        }
    }

    // Reset margin and padding for ul
    & ul {
        padding: 0;
        margin: 0;        
    }

    // Hide list styling
    & li {
        list-style: none;
    }

    & .sidebar__link {
        display: flex;
        align-items: center;
        gap: 2rem;

        width: 100%; 
        overflow: hidden;

        &.active {
            background-color: $dark-color-white-3;
            transition: all .3s ease;
        }

        & .link__icon {
            margin-left: 2rem;
            padding: 1.5rem 0;
            font-size: 3rem;
            color: $color-primary;
            line-height: 0;

            @media only screen and (max-width: $bp-10)  {
                margin-left: 1.6rem;  
                font-size: 2.8rem;
            }

            @media only screen and (max-width: $bp-6)  {
                margin-left: 1.4rem;  
                font-size: 2.4rem;
            }
        }

        & .link__title {
            opacity: 0;
            font-size: 2rem;
            font-weight: 500;
            color: $color-primary;
            margin-left: 2rem;

            transition: all .3s ease;
        }
    }

    &.expand .link__title {
        opacity: 1;
        transition: all .3s ease;
    }
}

.expand .link__title {
    opacity: 1;
    transition: all .3s ease;
}

a.sidebar__link  {
    text-decoration: none;
    white-space: nowrap;
}


/************************ Dark Theme start Here ************************/

.sidebar.dark {
    background-color: $dark-background-secondary-color;

    &  .link__icon {
       color: $dark-color-primary;
    }

    & .active {
        background-color: $dark-background-tertiary-color;
    }
}