@import '../../../sass/index';

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: darken($color-primary, 6);
    z-index: 100;
    transition: all .5s ease;

    & .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;

        & svg {
            font-size: 20px;
            color: $color-white;
            height: 30px;
            min-width: 78px;
            max-width: 78px;
            text-align: center;
            line-height: 50px;
            // margin: 0 auto;
        }

        & .logo_name {
            opacity: 0;
            pointer-events: none;
            transition-delay: .05s;
        }
    }

    .user_balance{
        margin-top: 4.5rem;
        display: flex;
        align-items: center;

        background: white;
        padding: 1rem 0;
        border-right: 2px solid darken($color-primary, 6);
        // transition: all .5s ease;


        & .title{
            display: none;
            opacity: 0;
            padding-left: 2.4rem;
            transition: opacity .5s ease;
            // transition-delay: 2s;
        }

        .amount {
            margin: 0 auto;
        }
    }

    & .nav-links {
        height: 100%;
        padding: 3rem 0 15rem 0;
        overflow: visible;

        &::-webkit-scrollbar {
            display: none; // TODO
        }

        & li {
            position: relative;
            list-style: none;
            transition: all .4s ease;
            
            & svg {
                padding: 10px 0;
                height: 50px;
                min-width: 78px;
                text-align: center;
                line-height: 50px;
                color: $color-white;
                font-size: 20px;
                cursor: pointer;
                transition: all .3s ease;
            }

            & a {
                display: flex;
                align-items: center;
                text-decoration: none;

                & .link_name {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            & .sub-menu {
                padding: 6px 6px 14px 80px;
                margin-top: -10px;
                background: darken($color-primary, 4);
                display: none;

                position: absolute;
                left: 100%;
                top: -10px;
                margin-top: 0;
                padding: 10px 20px;
                border-radius: 0 6px 6px 0;
                opacity: 0;
                display: block;
                pointer-events: none;
                transition: 0s;

                & .link_name {
                    color: $color-white;
                    font-size: 15px;
                    white-space: nowrap;
                    opacity: .6;
                    transition: all .3s ease;

                    font-size: 18px;
                    opacity: 1;
                    display: block;
                    
                    &:hover {
                        opacity: 1;
                        background: darken($color-primary, 4);
                    }
                }
                
                & .nav-links li .sub-menu.blank {
                    pointer-events: auto;
                    padding: 3px 20px 6px 16px;
                    opacity: 0;
                    pointer-events: none;
                }
            }
            
            &:hover {
                background: $color-primary;
                
                & .sub-menu {
                    top: 0;
                    opacity: 1;
                    pointer-events: auto;
                    transition: all .4s ease;
                }

                & .sub-menu.blank {
                    opacity: 1;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    & .profile-details {
        position: fixed;
        bottom: 0;
        width: 78px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: darken($color-secondary, 10);
        padding: 6px 0;
        transition: all .5s ease;

        & svg {
            display: flex;
            align-items: center;

            transition: all .5s ease;
        }

        & .profile_name,
        & .role {
            display: none;
            opacity: 0;
            transition: all .5s ease;

            color: $color-white;
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
            transition: all .5s;
        }
        
        & .role {
           font-size: 12px;
        }
    }

    &.active{
        width: 260px;

        & .logo-details .logo_name {
            opacity: 1;
            font-size: 22px;
            color: $color-white;
            font-weight: 600;
            transition: .3s ease;
            transition-delay: .1s;
            white-space: nowrap;
        }

        & .user_balance .title{
            display: block;
            opacity: 1;

            // transition: opacity .5s ease;
        }

        & .nav-links li a .link_name {
            opacity: 1;
            font-size: 18px;
            font-weight: 400;
            color: $color-white;
            transition: all .4s ease .05s;
            white-space: nowrap;
        }

        & .nav-links li .sub-menu {
            display: none;
        }

        & .profile-details {
           width: 260px;

            & .profile_name,
            & .role {
                display: block;
                opacity: 1;
                text-transform: capitalize;
                transition: all .5s ease .3s;
            }

            & svg {
               padding: 10px;
            }
        }
    }
}
