@import '../../../sass/index';

.input  {
    border: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    &:not(:first-child){
        margin-top: 1rem;
    }

    & label {
        font-size: 1.5rem;
        margin-bottom: .4rem;
        color: $color-black;
    }

    & input {
        width: 100%;
        display: block;
        padding: .4rem .6rem;
        border-radius: 4px;
        border: 1px solid $border-color;

        &:disabled {
            opacity: 0.8;
            background-color: lighten($color-grey, 48);
        }

        &:active,
        &:focus {
            border: 1px solid lighten($color-primary, 20);
            outline: none;
        }

        &:invalid{
            outline-color: lighten($color-red, 20);
        }
    }
}

.input__group ~ .input input{
    margin: 0;
}


.input__group{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;

    &:not(:first-child){
        margin-top: 1rem;
    }

    & div {
        margin: 0;
        flex: 1;
    }
}



.input.dark {
    & label {
        color: $dark-primary-text-color;

        &::placeholder {
            color: $dark-secondary-text-color;
        }
    }

    & input {
        color: $dark-color-white-3;
        border: 1px solid $dark-border-color;
        background-color: $dark-background-forth-color;

        &::placeholder {
            color: $dark-color-white-3;
        }
    }
}

