@import '../../../../sass/index';

.apiProvider {
    min-height: calc(100vh - (8rem + 2.4rem));
}

.addButton button {
    outline: none;
    border: none;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: $color-white;
    background-color: $color-primary;
    padding: 0rem 0.8rem;
    margin: 0 0 0 1.6rem;
}

.dropdownButton button::after {
    content: none !important;
}

.formControl button {
    border: none;
    color: $color-white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    border-radius: 0.3rem;
    align-items: center;
}

.addError {
    color: rgba(245, 28, 28, 0.794);
}

.apiActionButton {
    border: 0.1rem solid $color-primary;
    color: $color-primary;
    border-radius: 0;

    // display: flex;
    // flex-direction: row;
}

.apiActionButtonFirst {
    border-radius: 0.4rem 0 0 0.4rem;
}

.apiActionButtonLast {
    border-radius: 0 0.4rem 0.4rem 0;
}

.table thead th {
    text-align: center;
}

.table tbody tr {
    text-align: center;
}
