@import '../../../../sass/index';

.setting {
    &__container{
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    &__links {
        width: 20%;
        border: 1px solid $border-color;
        border-radius: .8rem;
        color: $color-primary;
        padding: 2rem 3rem;
        background-color: $background-primary-color;
        transition: all .3s ease;
        
        h3 {
            padding: .1rem 0;
        }
        
        li {
            list-style: none;
            display: flex;
            padding: .1rem 0;
            padding-left: 1rem;

            a {
                text-decoration: none;
                font-size: 1.6rem;
                color: $color-grey;
            }
        }
    }

    &__options {
        padding: 2rem;
        border: 1px solid $border-color;
        border-radius: .8rem;
        background-color: $background-primary-color;
        transition: all .3s ease;


        flex: 1;
    }
}


.dark {
    .setting {
        &__links {
            border: 1px solid $dark-border-color;
            background-color: $dark-background-tertiary-color;
        }

        &__options {
            border: $dark-border-color;
            background-color: $dark-background-tertiary-color;
        }
    }
}