@import '../../../sass/index';

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: darken($color-primary, 6);
    z-index: 100;
    transition: all .5s ease;

    
    @media only screen and (max-width: $bp-6) {
        width: 7rem;
    }

    & .logo-details {
        height: 6rem;
        width: 100%;
        display: flex;
        align-items: center;

        & svg {
            font-size: 2rem;
            color: $color-white;
            height: 3rem;
            min-width: 7.8rem;
            max-width: 7.8rem;
            text-align: center;
            line-height: 50rem;

            @media only screen and (max-width: $bp-6) {
                min-width: 7rem;
                max-width: 7rem;
            }
        }

        & .logo_name {
            opacity: 0;
            pointer-events: none;
            transition-delay: .05s;
        }
    }

    .user_balance{
        margin-top: 4.5rem;
        display: flex;
        align-items: center;

        background: white;
        padding: 1rem 0;
        border-right: 2px solid darken($color-primary, 6);
        transition: background .3s ease;

        & .title{
            display: none;
            opacity: 0;
            padding-left: 2.4rem;
            transition: opacity .5s ease;
        }

        .amount {
            margin: 0 auto;
        }
    }

    & .nav-links {
        height: 100%;
        padding: 3rem 0 0 0;
        overflow:visible;

        &::-webkit-scrollbar {
            display: none; // TODO
        }

        & li {
            position: relative;
            list-style: none;
            transition: all .4s ease;
            
            & svg {
                height: 5rem;
                padding: 1rem 0;
                min-width: 7.8rem;
                text-align: center;
                line-height: 5rem;
                color: $color-white;
                font-size: 2rem;
                cursor: pointer;
                transition: all .3s ease;

                @media only screen and (max-width: $bp-6) {
                    min-width: 7rem;
                }
            }

            & a {
                display: flex;
                align-items: center;
                text-decoration: none;

                & .link_name {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            & .active_link {
                background: white;

                svg {
                    color: $color-primary;
                }
            }
             

            & .sub-menu {
                padding: .6rem .6rem 1.4rem 8rem;
                margin-top: -1rem;
                background: darken($color-primary, 4);
                display: none;

                position: absolute;
                left: 100%;
                top: -1rem;
                margin-top: 0;
                padding: 1rem 2rem;
                border-radius: 0 .6rem .6rem 0;
                opacity: 0;
                display: block;
                pointer-events: none;
                transition: 0s;

                & .link_name {
                    color: $color-white;
                    font-size: 1.5rem;
                    white-space: nowrap;
                    opacity: .6;
                    transition: all .3s ease;

                    font-size: 1.8rem;
                    opacity: 1;
                    display: block;
                    
                    &:hover {
                        opacity: 1;
                        background: darken($color-primary, 4);
                    }
                }
                
                & .nav-links li .sub-menu.blank {
                    pointer-events: auto;
                    padding: .3rem 2rem .6rem 1.6rem;
                    opacity: 0;
                    pointer-events: none;
                }
            }
            
            &:hover {
                background: $color-primary;
                
                & .sub-menu {
                    top: 0;
                    opacity: 1;
                    pointer-events: auto;
                    transition: all .4s ease;
                }

                & .sub-menu.blank {
                    opacity: 1;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    & .profile-details {
        position: fixed;
        bottom: 0;
        width: 7.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: darken($color-secondary, 10);
        padding: .6rem 0;
        transition: all .5s ease;


        
        @media only screen and (max-width: $bp-6) {
            width: 7rem;
        }

        & svg {
            display: flex;
            align-items: center;

            transition: all .5s ease;
        }

        & .profile_name,
        & .role {
            display: none;
            opacity: 0;
            transition: all .5s ease;

            color: $color-white;
            font-size: 1.8rem;
            font-weight: 500;
            white-space: nowrap;
            transition: all .5s;
        }
        
        & .role {
           font-size: 1.2rem;
        }
    }

    &.active{
        width: 26rem;

        @media only screen and (max-width: $bp-6) {
            width: 22rem;
        }

        & .logo-details .logo_name {
            opacity: 1;
            font-size: 2.2rem;
            color: $color-white;
            font-weight: 600;
            transition: .3s ease;
            transition-delay: .1s;
            white-space: nowrap;
        }

        & .user_balance .title{
            display: block;
            opacity: 1;
        }

        & .nav-links li a .link_name {
            opacity: 1;
            font-size: 1.8rem;
            font-weight: 400;
            color: $color-white;
            transition: all .4s ease .05s;
            white-space: nowrap;
        }

        & .nav-links li a.active_link .link_name {
            color: $color-primary;
        }

        & .nav-links li .sub-menu {
            display: none;
        }

        & .profile-details {
            width: 26rem;

            @media only screen and (max-width: $bp-6) {
                width: 22rem;
            }

            & .profile_name,
            & .role {
                display: block;
                opacity: 1;
                text-transform: capitalize;
                transition: all .5s ease .3s;
            }

            & svg {
               padding: 1rem;
            }
        }
    }
}


.dark.sidebar {
    background: #134fafd9;
    transition: background .3s ease;

    .user_balance{
        color: $dark-color-text--primary;
        background: #424242;

        transition: background .3s ease;
    }

    & .nav-links {
        & li {
            & svg {
                color: $dark-color-white-2;
                font-size: 2rem;
                cursor: pointer;
                transition: all .3s ease;

                @media only screen and (max-width: $bp-6) {
                    min-width: 7rem;
                }
            }

            & a {
                display: flex;
                align-items: center;
                text-decoration: none;

                & .link_name {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            & .active_link {
                background: $dark-color-white-3;

                svg {
                    color: $dark-color-primary;
                }
            }
             

            & .sub-menu {
                padding: .6rem .6rem 1.4rem 8rem;
                margin-top: -1rem;
                background: darken($color-primary, 4);
                display: none;

                position: absolute;
                left: 100%;
                top: -1rem;
                margin-top: 0;
                padding: 1rem 2rem;
                border-radius: 0 .6rem .6rem 0;
                opacity: 0;
                display: block;
                pointer-events: none;
                transition: 0s;

                & .link_name {
                    color: $color-white;
                    font-size: 1.5rem;
                    white-space: nowrap;
                    opacity: .6;
                    transition: all .3s ease;

                    font-size: 1.8rem;
                    opacity: 1;
                    display: block;
                    
                    &:hover {
                        opacity: 1;
                        background: darken($color-primary, 4);
                    }
                }
                
                & .nav-links li .sub-menu.blank {
                    pointer-events: auto;
                    padding: .3rem 2rem .6rem 1.6rem;
                    opacity: 0;
                    pointer-events: none;
                }
            }
            
            &:hover {
                background: $color-primary;
                
                & .sub-menu {
                    top: 0;
                    opacity: 1;
                    pointer-events: auto;
                    transition: all .4s ease;
                }

                & .sub-menu.blank {
                    opacity: 1;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    & .profile-details {
        position: fixed;
        bottom: 0;
        width: 7.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: darken($color-secondary, 10);
        padding: .6rem 0;
        transition: all .5s ease;


        
        @media only screen and (max-width: $bp-6) {
            width: 7rem;
        }

        & svg {
            display: flex;
            align-items: center;

            transition: all .5s ease;
        }

        & .profile_name,
        & .role {
            display: none;
            opacity: 0;
            transition: all .5s ease;

            color: $color-white;
            font-size: 1.8rem;
            font-weight: 500;
            white-space: nowrap;
            transition: all .5s;
        }
        
        & .role {
           font-size: 1.2rem;
        }
    }

    &.active{
        width: 26rem;

        @media only screen and (max-width: $bp-6) {
            width: 22rem;
        }

        & .logo-details .logo_name {
            opacity: 1;
            font-size: 2.2rem;
            color: $color-white;
            font-weight: 600;
            transition: .3s ease;
            transition-delay: .1s;
            white-space: nowrap;
        }

        & .user_balance .title{
            display: block;
            opacity: 1;
        }

        & .nav-links li a .link_name {
            opacity: 1;
            font-size: 1.8rem;
            font-weight: 400;
            color: $color-white;
            transition: all .4s ease .05s;
            white-space: nowrap;
        }

        & .nav-links li a.active_link .link_name {
            color: $color-primary;
        }

        & .nav-links li .sub-menu {
            display: none;
        }

        & .profile-details {
            width: 26rem;

            @media only screen and (max-width: $bp-6) {
                width: 22rem;
            }

            & .profile_name,
            & .role {
                display: block;
                opacity: 1;
                text-transform: capitalize;
                transition: all .5s ease .3s;
            }

            & svg {
               padding: 1rem;
            }
        }
    }
}