.Card {
    position: relative;
    padding: 1.8rem;
    border-radius: 1rem;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    overflow-x: scroll;
}


.dark.Card {
    background-color: #424242;
    border: 1px solid #424242;
}

.Card::-webkit-scrollbar {
    display: none;
}

.Card::-webkit-scrollbar-track {
    visibility: hidden;
}
