@import '../../../../sass/index';


.section__one {
    margin-bottom: 2rem;

    &__container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
    }
}

.section__two {
    margin-bottom: 2rem;

    &__container {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @media only screen and (max-width: $bp-9) {
            flex-direction: column;
        }
    }

    &__graph {
        flex: 1;

        &_container {
            height: 31rem;
        }
    }
}


.section__three {
    margin-bottom: 2rem;

    &__container {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @media only screen and (max-width: $bp-12) {
            flex-direction: column;
        }
    }

    &__item {
        flex: 1;
    }
}